<div class="container pt-2">
    <div *ngIf="submitted" class="alert alert-success" role="alert">
        Account Created !! <a routerLink="../login">Login</a>
    </div>
    <div *ngIf="!submitted" class="card bg-light">
        <article class="card-body mx-auto" style="max-width: 500px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your trainer account</p>
            <form [formGroup]="registrationForm" (ngSubmit)="addNew(registrationForm.value)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input
                        [class.is-invalid]="registrationForm.get('userName').invalid && registrationForm.get('userName').touched"
                        formControlName="userName" class="form-control" placeholder="Full name" type="text">
                    <div class="input-group-append"
                        [class.d-none]="registrationForm.get('userName').valid || registrationForm.get('userName').untouched">
                        <span class="input-group-text text-danger" id=""><small>Name is required</small></span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input
                        [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched"
                        formControlName="email" class="form-control" placeholder="Email address" type="email">
                    <div class="input-group-append"
                        [class.d-none]="registrationForm.get('email').valid || registrationForm.get('email').untouched">
                        <span class="input-group-text text-danger" id=""><small>A valid e-mail is
                                required</small></span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>

                    <input formControlName="phone" class="form-control" placeholder="Phone number" type="text">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                    </div>

                    <input formControlName="experience" class="form-control" placeholder="Experience(in years)"
                        type="number">
                </div>
                <div class="form-group">


                    <label for="exampleFormControlSelect3">Time Zone</label>
                    <select formControlName="timezone" single class="form-control " id="exampleFormControlSelect3">
                        <!-- Time Zone span -->
                        <option value="undefined">-- Select Time Zone --</option>
                        <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">
                            (GMT-12:00) International Date Line West</option>
                        <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">
                            (GMT-11:00) Midway Island, Samoa</option>
                        <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">
                            (GMT-10:00) Hawaii</option>
                        <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">
                            (GMT-09:00) Alaska</option>
                        <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">
                            (GMT-08:00) Pacific Time (US & Canada)</option>
                        <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">
                            (GMT-08:00) Tijuana, Baja California</option>
                        <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">
                            (GMT-07:00) Arizona</option>
                        <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">
                            (GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                        <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">
                            (GMT-07:00) Mountain Time (US & Canada)</option>
                        <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">
                            (GMT-06:00) Central America</option>
                        <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">
                            (GMT-06:00) Central Time (US & Canada)</option>
                        <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">
                            (GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                        <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">
                            (GMT-06:00) Saskatchewan</option>
                        <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">
                            (GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                        <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">
                            (GMT-05:00) Eastern Time (US & Canada)</option>
                        <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">
                            (GMT-05:00) Indiana (East)</option>
                        <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">
                            (GMT-04:00) Atlantic Time (Canada)</option>
                        <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">
                            (GMT-04:00) Caracas, La Paz</option>
                        <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">
                            (GMT-04:00) Manaus</option>
                        <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">
                            (GMT-04:00) Santiago</option>
                        <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">
                            (GMT-03:30) Newfoundland</option>
                        <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                            (GMT-03:00) Brasilia</option>
                        <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">
                            (GMT-03:00) Buenos Aires, Georgetown</option>
                        <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                            (GMT-03:00) Greenland</option>
                        <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                            (GMT-03:00) Montevideo</option>
                        <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">
                            (GMT-02:00) Mid-Atlantic</option>
                        <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">
                            (GMT-01:00) Cape Verde Is.</option>
                        <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">
                            (GMT-01:00) Azores</option>
                        <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">
                            (GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                        <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">
                            (GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                        <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                        <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                        <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                        <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                        <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) West Central Africa</option>
                        <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Amman</option>
                        <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Athens, Bucharest, Istanbul</option>
                        <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Beirut</option>
                        <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Cairo</option>
                        <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">
                            (GMT+02:00) Harare, Pretoria</option>
                        <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                        <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Jerusalem</option>
                        <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Minsk</option>
                        <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Windhoek</option>
                        <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                            (GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                        <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">
                            (GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                        <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                            (GMT+03:00) Nairobi</option>
                        <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                            (GMT+03:00) Tbilisi</option>
                        <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">
                            (GMT+03:30) Tehran</option>
                        <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">
                            (GMT+04:00) Abu Dhabi, Muscat</option>
                        <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">
                            (GMT+04:00) Baku</option>
                        <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">
                            (GMT+04:00) Yerevan</option>
                        <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">
                            (GMT+04:30) Kabul</option>
                        <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">
                            (GMT+05:00) Yekaterinburg</option>
                        <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">
                            (GMT+05:00) Islamabad, Karachi, Tashkent</option>
                        <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">
                            (GMT+05:30) Sri Jayawardenapura</option>
                        <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">
                            (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                        <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">
                            (GMT+05:45) Kathmandu</option>
                        <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">
                            (GMT+06:00) Almaty, Novosibirsk</option>
                        <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">
                            (GMT+06:00) Astana, Dhaka</option>
                        <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">
                            (GMT+06:30) Yangon (Rangoon)</option>
                        <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">
                            (GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                        <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">
                            (GMT+07:00) Krasnoyarsk</option>
                        <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                        <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Kuala Lumpur, Singapore</option>
                        <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Irkutsk, Ulaan Bataar</option>
                        <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Perth</option>
                        <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Taipei</option>
                        <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">
                            (GMT+09:00) Osaka, Sapporo, Tokyo</option>
                        <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">
                            (GMT+09:00) Seoul</option>
                        <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">
                            (GMT+09:00) Yakutsk</option>
                        <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">
                            (GMT+09:30) Adelaide</option>
                        <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">
                            (GMT+09:30) Darwin</option>
                        <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">
                            (GMT+10:00) Brisbane</option>
                        <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                            (GMT+10:00) Canberra, Melbourne, Sydney</option>
                        <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                            (GMT+10:00) Hobart</option>
                        <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">
                            (GMT+10:00) Guam, Port Moresby</option>
                        <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                            (GMT+10:00) Vladivostok</option>
                        <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">
                            (GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                        <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">
                            (GMT+12:00) Auckland, Wellington</option>
                        <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">
                            (GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                        <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">
                            (GMT+13:00) Nuku'alofa</option>
                    </select>
                </div>
                <select formControlName="timeslot" class="form-control mr-sm-2" name="timeSlot">
                    <option value="undefined">-- Select preferred time slot --</option>
                    <option value="1">10:00 AM - 12:00 PM</option>
                    <option value="2">11:00 AM - 01:00 PM</option>
                    <option value="3">02:00 PM - 04:00 PM</option>
                    <option value="4">03:00 PM - 05:00 PM</option>
                    <option value="5">06:00 PM - 08:00 PM</option>
                    <option value="6">09:00 PM - 11:00 PM</option>
                    <option value="7">10:00 PM - 12:00 PM</option>
                </select> <br>
                <div class="form-group">
                    <label for="start-date" class="theme-color-5">Start Date</label>
                    <input formControlName="startdate" type="date" class="form-control" id="start-date">
                </div>
                <div class="form-group">
                    <label for="end-date" class="theme-color-5">End Date</label>
                    <input formControlName="enddate" type="date" class="form-control" id="end-date">
                </div>
                <div class="form-group" id="matrial-type">
                    <label class="theme-color-5">Material Type</label> <br>
                    <input formControlName="videos" type="checkbox" value="video" id="matrial-type-video"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-video">Videos</label>
                    <input formControlName="blogs" type="checkbox" value="blog" id="matrial-type-blog"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-blog">Blog</label>
                    <input formControlName="ppts" type="checkbox" value="ppts" id="matrial-type-ppt"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-ppt">PPTs</label>
                    <input formControlName="demos" type="checkbox" value="demos" id="matrial-type-demo"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-demo">Demos</label>
                </div>
                <div class="form-group">
                    <label for="profile-url" class="theme-color-5">LinkedIn Profile (URL)</label>
                    <input formControlName="linkedin" type="text" class="form-control" id="profile-url" min="0">
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect2">Skills</label>
                    <select formControlName="skills" multiple class="form-control" id="exampleFormControlSelect2">

                        <option *ngFor="let skill of technologies;let i=index" [value]="skill.skill">{{skill.skill}}
                        </option>

                        <!-- <option value="Angular">Angular</option>
                        <option value="Git">Git</option>
                        <option value="Core Java">Core Java</option>
                        <option value="Python">Python</option> -->
                    </select>
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input
                        [class.is-invalid]="registrationForm.get('password').invalid && registrationForm.get('password').touched"
                        formControlName="password" class="form-control" placeholder="Create password" type="password">
                    <div class="input-group-append"
                        [class.d-none]="registrationForm.get('password').valid || registrationForm.get('password').untouched">
                        <span class="input-group-text text-danger" id=""><small>Password is required</small></span>
                    </div>
                </div>
                <input type="hidden" formControlName="role" class="form-control">

                <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary btn-block"> Create
                    Account </button>

                <p class="text-center">Have an account? <a routerLink="../login">Login</a> </p>
            </form>
        </article>

        <!-- {{registrationForm.value | json}} -->
    </div>
</div>