<div *ngIf="currentUser.status=='blocked'" class="alert alert-danger" role="alert">
    Sorry, your account is BLOCKED!! Please contact the administrator.
</div>
<div class="container" *ngIf="loggedin && currentUser.status=='unblocked'">
    <!-- <h2>Hello {{currentUser.userName}},</h2> -->
    <h2>Hello {{dpname}},</h2>
    <ul class="nav nav-tabs">
        <li class="nav-item"><a class="nav-link active" (click)="update()" data-toggle="tab" href="#current">Current Trainings</a>
        </li>
        <li class="nav-item"><a class="nav-link" (click)="update()" data-toggle="tab" href="#completed">Completed Trainings</a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#edit">Edit Skills</a>
        </li>
        <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#profile">Profile</a>
        </li>
        <!-- <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#payments">Payments</a>
        </li> -->
    </ul>

    <div class="tab-content">
        <div id="current" class="tab-pane fade show active">
            <div class="row" *ngFor="let data of courseData">

                <div class="col card mt-2" *ngIf="data.status !='Rejected' && data.mentor==currentUser.email && data.status !='Completed' && data.status!='Payment Withdrawn'">
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col">
                                <img src="{{data.logoUrl}}" width="150px" height="150px" class="rounded float-left"
                                    alt="">
                            </div> -->
                            <div class="col text-center pt-2">
                                Course: <br>
                                <b>{{data.coursename}}</b> <br>
                                Student: <br>
                                <b>{{data.user}}</b> <br>
                                Status: <br>
                                <span *ngIf="data.status !='Rejected'" class="badge badge-info">{{data.status}}</span>

                                <div class="progress" *ngIf="data.status =='Ongoing'">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success"
                                        role="progressbar" aria-valuenow="data.progress" aria-valuemin="0"
                                        aria-valuemax="100" [style.width]="data.progress+'%'">{{data.progress}}%
                                    </div>
                                </div> <br>


                            </div>
                            <div class="col text-center pt-2">
                                <!-- <button *ngIf="data.status =='Ongoing'" type="button" class="btn btn-primary">Go to Course</button>
                                        <br> <br> -->
                                <button (click)="approve(data)" *ngIf="data.status =='Approval Pending'" type="button"
                                    class="btn btn-success m-2">Approve</button><br>
                                <button (click)="reject(data)" *ngIf="data.status =='Approval Pending'" type="button" class="btn btn-danger m-2">Reject</button><br>
                                <!-- <button *ngIf="data.status !='Rejected'" type="button" class="btn btn-danger m-2">Cancel
                                    Course</button> -->


                            </div>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div id="completed" class="tab-pane fade">
            <div class="row" *ngFor="let data of courseData">
                <div  *ngIf="(data.status =='Completed'||data.status=='Payment Withdrawn') && data.mentor==currentUser.email"  class="col card mt-2">
                    <div class="card-body">
                        <div class="row">
                            <!-- <div class="col">
                                <img src="{{data.logoUrl}}" width="150px" height="150px" class="rounded float-left"
                                    alt="">
                            </div> -->
                            <div class="col text-center pt-3">
                                Course: <br>
                                <b>{{data.coursename}}</b> <br>
                                Student: <br>
                                <b>{{data.user}}</b> <br>
                                Status: <br>
                                <span *ngIf="data.status !='Rejected'" class="badge badge-info">{{data.status}}</span>

                                <!-- <span class="badge badge-success">Completed on {{data.completedOn}}</span> -->
                            </div>
                            <div class="col text-center pt-2">
                                <!-- <button *ngIf="data.status =='Ongoing'" type="button" class="btn btn-primary">Go to Course</button>
                                        <br> <br> -->
                                <button (click)="withdrawPayment(data)" *ngIf="data.status =='Completed'" type="button"
                                    class="btn btn-success m-2">Withdraw Payment</button><br>
                                <!-- <button *ngIf="data.status =='Approval Pending'" type="button" class="btn btn-danger m-2">Reject</button><br> -->
                                <!-- <button *ngIf="data.status !='Rejected'" type="button" class="btn btn-danger m-2">Cancel
                                    Course</button> -->


                            </div>

                            <!-- <button type="button" class="btn btn-primary">Withdraw
                                payment</button> -->

                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div id="edit" class="tab-pane fade">
            <br>
            <div class="form-group col-6" [formGroup]="registrationForm">

                <select formControlName="skills" multiple class="form-control" id="exampleFormControlSelect2">
                    <option *ngFor="let skill of technologies;let i=index" [value]="skill.skill">{{skill.skill}}
                    </option>
                    <!-- <option value="Angular">Angular</option>
                    <option value="Git">Git</option>
                    <option value="Core Java">Core Java</option>
                    <option value="Python">Python</option> -->
                </select>
            </div>

            <div class="form-group col-2">
                <button (click)="addNew(registrationForm.value)" class="btn btn-primary btn-block">Save</button>
            </div>

        </div>
        <div id="profile" class="tab-pane fade">
            <br>
            <!-- <form class="md-form col-6">
                <div class="file-field">
                    <div class="mb-4">
                        <img src="../../assets/avatar.png" width="150px" height="150px"
                            class="rounded-circle z-depth-1-half avatar-pic" alt="example placeholder avatar">
                    </div>

                    <input type="file" class="btn btn-secondary m-2">

                    <button class="btn btn-primary m-2" type="button">Upload</button>




                </div>
            </form> -->
            <form [formGroup]="registrationForm" class="col-7" (ngSubmit)="addNew(registrationForm.value)">
                <!-- <div class="form-group input-group">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="inputGroupFile04">
                        <label class="custom-file-label" for="inputGroupFile04">Choose file</label>
                    </div>
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button">Button</button>
                    </div>
                </div> -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [(ngModel)]="dpname" formControlName="userName" class="form-control" placeholder="Full name"
                        type="text">
                </div>
                <!-- <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input formControlName="email" class="form-control" placeholder="Email address" type="email">
                </div> -->
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>

                    <input formControlName="phone" class="form-control" placeholder="Phone number" type="text">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-clock"></i> </span>
                    </div>

                    <input formControlName="experience" class="form-control" placeholder="Experience(in years)"
                        type="number">
                </div>
                <div class="form-group">


                    <label for="exampleFormControlSelect3">Time Zone</label>
                    <select formControlName="timezone" single class="form-control " id="exampleFormControlSelect3">
                        <!-- Time Zone span -->
                        <option value="undefined">-- Select Time Zone --</option>
                        <option timeZoneId="1" gmtAdjustment="GMT-12:00" useDaylightTime="0" value="-12">
                            (GMT-12:00) International Date Line West</option>
                        <option timeZoneId="2" gmtAdjustment="GMT-11:00" useDaylightTime="0" value="-11">
                            (GMT-11:00) Midway Island, Samoa</option>
                        <option timeZoneId="3" gmtAdjustment="GMT-10:00" useDaylightTime="0" value="-10">
                            (GMT-10:00) Hawaii</option>
                        <option timeZoneId="4" gmtAdjustment="GMT-09:00" useDaylightTime="1" value="-9">
                            (GMT-09:00) Alaska</option>
                        <option timeZoneId="5" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">
                            (GMT-08:00) Pacific Time (US & Canada)</option>
                        <option timeZoneId="6" gmtAdjustment="GMT-08:00" useDaylightTime="1" value="-8">
                            (GMT-08:00) Tijuana, Baja California</option>
                        <option timeZoneId="7" gmtAdjustment="GMT-07:00" useDaylightTime="0" value="-7">
                            (GMT-07:00) Arizona</option>
                        <option timeZoneId="8" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">
                            (GMT-07:00) Chihuahua, La Paz, Mazatlan</option>
                        <option timeZoneId="9" gmtAdjustment="GMT-07:00" useDaylightTime="1" value="-7">
                            (GMT-07:00) Mountain Time (US & Canada)</option>
                        <option timeZoneId="10" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">
                            (GMT-06:00) Central America</option>
                        <option timeZoneId="11" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">
                            (GMT-06:00) Central Time (US & Canada)</option>
                        <option timeZoneId="12" gmtAdjustment="GMT-06:00" useDaylightTime="1" value="-6">
                            (GMT-06:00) Guadalajara, Mexico City, Monterrey</option>
                        <option timeZoneId="13" gmtAdjustment="GMT-06:00" useDaylightTime="0" value="-6">
                            (GMT-06:00) Saskatchewan</option>
                        <option timeZoneId="14" gmtAdjustment="GMT-05:00" useDaylightTime="0" value="-5">
                            (GMT-05:00) Bogota, Lima, Quito, Rio Branco</option>
                        <option timeZoneId="15" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">
                            (GMT-05:00) Eastern Time (US & Canada)</option>
                        <option timeZoneId="16" gmtAdjustment="GMT-05:00" useDaylightTime="1" value="-5">
                            (GMT-05:00) Indiana (East)</option>
                        <option timeZoneId="17" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">
                            (GMT-04:00) Atlantic Time (Canada)</option>
                        <option timeZoneId="18" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">
                            (GMT-04:00) Caracas, La Paz</option>
                        <option timeZoneId="19" gmtAdjustment="GMT-04:00" useDaylightTime="0" value="-4">
                            (GMT-04:00) Manaus</option>
                        <option timeZoneId="20" gmtAdjustment="GMT-04:00" useDaylightTime="1" value="-4">
                            (GMT-04:00) Santiago</option>
                        <option timeZoneId="21" gmtAdjustment="GMT-03:30" useDaylightTime="1" value="-3.5">
                            (GMT-03:30) Newfoundland</option>
                        <option timeZoneId="22" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                            (GMT-03:00) Brasilia</option>
                        <option timeZoneId="23" gmtAdjustment="GMT-03:00" useDaylightTime="0" value="-3">
                            (GMT-03:00) Buenos Aires, Georgetown</option>
                        <option timeZoneId="24" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                            (GMT-03:00) Greenland</option>
                        <option timeZoneId="25" gmtAdjustment="GMT-03:00" useDaylightTime="1" value="-3">
                            (GMT-03:00) Montevideo</option>
                        <option timeZoneId="26" gmtAdjustment="GMT-02:00" useDaylightTime="1" value="-2">
                            (GMT-02:00) Mid-Atlantic</option>
                        <option timeZoneId="27" gmtAdjustment="GMT-01:00" useDaylightTime="0" value="-1">
                            (GMT-01:00) Cape Verde Is.</option>
                        <option timeZoneId="28" gmtAdjustment="GMT-01:00" useDaylightTime="1" value="-1">
                            (GMT-01:00) Azores</option>
                        <option timeZoneId="29" gmtAdjustment="GMT+00:00" useDaylightTime="0" value="0">
                            (GMT+00:00) Casablanca, Monrovia, Reykjavik</option>
                        <option timeZoneId="30" gmtAdjustment="GMT+00:00" useDaylightTime="1" value="0">
                            (GMT+00:00) Greenwich Mean Time : Dublin, Edinburgh, Lisbon, London</option>
                        <option timeZoneId="31" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Amsterdam, Berlin, Bern, Rome, Stockholm, Vienna</option>
                        <option timeZoneId="32" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Belgrade, Bratislava, Budapest, Ljubljana, Prague</option>
                        <option timeZoneId="33" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Brussels, Copenhagen, Madrid, Paris</option>
                        <option timeZoneId="34" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) Sarajevo, Skopje, Warsaw, Zagreb</option>
                        <option timeZoneId="35" gmtAdjustment="GMT+01:00" useDaylightTime="1" value="1">
                            (GMT+01:00) West Central Africa</option>
                        <option timeZoneId="36" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Amman</option>
                        <option timeZoneId="37" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Athens, Bucharest, Istanbul</option>
                        <option timeZoneId="38" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Beirut</option>
                        <option timeZoneId="39" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Cairo</option>
                        <option timeZoneId="40" gmtAdjustment="GMT+02:00" useDaylightTime="0" value="2">
                            (GMT+02:00) Harare, Pretoria</option>
                        <option timeZoneId="41" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Helsinki, Kyiv, Riga, Sofia, Tallinn, Vilnius</option>
                        <option timeZoneId="42" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Jerusalem</option>
                        <option timeZoneId="43" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Minsk</option>
                        <option timeZoneId="44" gmtAdjustment="GMT+02:00" useDaylightTime="1" value="2">
                            (GMT+02:00) Windhoek</option>
                        <option timeZoneId="45" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                            (GMT+03:00) Kuwait, Riyadh, Baghdad</option>
                        <option timeZoneId="46" gmtAdjustment="GMT+03:00" useDaylightTime="1" value="3">
                            (GMT+03:00) Moscow, St. Petersburg, Volgograd</option>
                        <option timeZoneId="47" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                            (GMT+03:00) Nairobi</option>
                        <option timeZoneId="48" gmtAdjustment="GMT+03:00" useDaylightTime="0" value="3">
                            (GMT+03:00) Tbilisi</option>
                        <option timeZoneId="49" gmtAdjustment="GMT+03:30" useDaylightTime="1" value="3.5">
                            (GMT+03:30) Tehran</option>
                        <option timeZoneId="50" gmtAdjustment="GMT+04:00" useDaylightTime="0" value="4">
                            (GMT+04:00) Abu Dhabi, Muscat</option>
                        <option timeZoneId="51" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">
                            (GMT+04:00) Baku</option>
                        <option timeZoneId="52" gmtAdjustment="GMT+04:00" useDaylightTime="1" value="4">
                            (GMT+04:00) Yerevan</option>
                        <option timeZoneId="53" gmtAdjustment="GMT+04:30" useDaylightTime="0" value="4.5">
                            (GMT+04:30) Kabul</option>
                        <option timeZoneId="54" gmtAdjustment="GMT+05:00" useDaylightTime="1" value="5">
                            (GMT+05:00) Yekaterinburg</option>
                        <option timeZoneId="55" gmtAdjustment="GMT+05:00" useDaylightTime="0" value="5">
                            (GMT+05:00) Islamabad, Karachi, Tashkent</option>
                        <option timeZoneId="56" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">
                            (GMT+05:30) Sri Jayawardenapura</option>
                        <option timeZoneId="57" gmtAdjustment="GMT+05:30" useDaylightTime="0" value="5.5">
                            (GMT+05:30) Chennai, Kolkata, Mumbai, New Delhi</option>
                        <option timeZoneId="58" gmtAdjustment="GMT+05:45" useDaylightTime="0" value="5.75">
                            (GMT+05:45) Kathmandu</option>
                        <option timeZoneId="59" gmtAdjustment="GMT+06:00" useDaylightTime="1" value="6">
                            (GMT+06:00) Almaty, Novosibirsk</option>
                        <option timeZoneId="60" gmtAdjustment="GMT+06:00" useDaylightTime="0" value="6">
                            (GMT+06:00) Astana, Dhaka</option>
                        <option timeZoneId="61" gmtAdjustment="GMT+06:30" useDaylightTime="0" value="6.5">
                            (GMT+06:30) Yangon (Rangoon)</option>
                        <option timeZoneId="62" gmtAdjustment="GMT+07:00" useDaylightTime="0" value="7">
                            (GMT+07:00) Bangkok, Hanoi, Jakarta</option>
                        <option timeZoneId="63" gmtAdjustment="GMT+07:00" useDaylightTime="1" value="7">
                            (GMT+07:00) Krasnoyarsk</option>
                        <option timeZoneId="64" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Beijing, Chongqing, Hong Kong, Urumqi</option>
                        <option timeZoneId="65" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Kuala Lumpur, Singapore</option>
                        <option timeZoneId="66" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Irkutsk, Ulaan Bataar</option>
                        <option timeZoneId="67" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Perth</option>
                        <option timeZoneId="68" gmtAdjustment="GMT+08:00" useDaylightTime="0" value="8">
                            (GMT+08:00) Taipei</option>
                        <option timeZoneId="69" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">
                            (GMT+09:00) Osaka, Sapporo, Tokyo</option>
                        <option timeZoneId="70" gmtAdjustment="GMT+09:00" useDaylightTime="0" value="9">
                            (GMT+09:00) Seoul</option>
                        <option timeZoneId="71" gmtAdjustment="GMT+09:00" useDaylightTime="1" value="9">
                            (GMT+09:00) Yakutsk</option>
                        <option timeZoneId="72" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">
                            (GMT+09:30) Adelaide</option>
                        <option timeZoneId="73" gmtAdjustment="GMT+09:30" useDaylightTime="0" value="9.5">
                            (GMT+09:30) Darwin</option>
                        <option timeZoneId="74" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">
                            (GMT+10:00) Brisbane</option>
                        <option timeZoneId="75" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                            (GMT+10:00) Canberra, Melbourne, Sydney</option>
                        <option timeZoneId="76" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                            (GMT+10:00) Hobart</option>
                        <option timeZoneId="77" gmtAdjustment="GMT+10:00" useDaylightTime="0" value="10">
                            (GMT+10:00) Guam, Port Moresby</option>
                        <option timeZoneId="78" gmtAdjustment="GMT+10:00" useDaylightTime="1" value="10">
                            (GMT+10:00) Vladivostok</option>
                        <option timeZoneId="79" gmtAdjustment="GMT+11:00" useDaylightTime="1" value="11">
                            (GMT+11:00) Magadan, Solomon Is., New Caledonia</option>
                        <option timeZoneId="80" gmtAdjustment="GMT+12:00" useDaylightTime="1" value="12">
                            (GMT+12:00) Auckland, Wellington</option>
                        <option timeZoneId="81" gmtAdjustment="GMT+12:00" useDaylightTime="0" value="12">
                            (GMT+12:00) Fiji, Kamchatka, Marshall Is.</option>
                        <option timeZoneId="82" gmtAdjustment="GMT+13:00" useDaylightTime="0" value="13">
                            (GMT+13:00) Nuku'alofa</option>
                    </select>
                </div>
                <select formControlName="timeslot" class="form-control mr-sm-2" name="timeSlot">
                    <option value="undefined">-- Select preferred time slot --</option>
                    <option value="1">10:00 AM - 12:00 PM</option>
                    <option value="2">11:00 AM - 01:00 PM</option>
                    <option value="3">02:00 PM - 04:00 PM</option>
                    <option value="4">03:00 PM - 05:00 PM</option>
                    <option value="5">06:00 PM - 08:00 PM</option>
                    <option value="6">09:00 PM - 11:00 PM</option>
                    <option value="7">10:00 PM - 12:00 PM</option>
                </select> <br>
                <div class="form-group">
                    <label for="start-date" class="theme-color-5">Start Date</label>
                    <input formControlName="startdate" type="date" class="form-control" id="start-date">
                </div>
                <div class="form-group">
                    <label for="end-date" class="theme-color-5">End Date</label>
                    <input formControlName="enddate" type="date" class="form-control" id="end-date">
                </div>
                <div class="form-group" id="matrial-type">
                    <label class="theme-color-5">Material Type</label> <br>
                    <input formControlName="videos" type="checkbox" value="video" id="matrial-type-video"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-video">Videos</label>
                    <input formControlName="blogs" type="checkbox" value="blog" id="matrial-type-blog"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-blog">Blog</label>
                    <input formControlName="ppts" type="checkbox" value="ppts" id="matrial-type-ppt"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-ppt">PPTs</label>
                    <input formControlName="demos" type="checkbox" value="demos" id="matrial-type-demo"
                        class=" form-check-inline mr-2 ml-2" min="0">
                    <label for="matrial-type-demo">Demos</label>
                </div>
                <div class="form-group">
                    <label for="profile-url" class="theme-color-5">LinkedIn Profile (URL)</label>
                    <input formControlName="linkedin" type="text" class="form-control" id="profile-url" min="0">
                </div>
                <!-- <div class="form-group">
                    <label for="exampleFormControlSelect2">Skills</label>
                    <select formControlName="skills" multiple class="form-control" id="exampleFormControlSelect2">
                        <option value="Spring">Spring</option>
                        <option value="Angular">Angular</option>
                        <option value="Git">Git</option>
                        <option value="Core Java">Core Java</option>
                        <option value="Python">Python</option>
                    </select>
                </div> -->

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input formControlName="password" class="form-control" placeholder="Password" type="password">
                </div>
                <input type="hidden" formControlName="role" class="form-control">
                <!-- <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input class="form-control" placeholder="new password" type="password">
                </div> -->
                <div class="form-group col-4">
                    <button type="submit" class="btn btn-primary btn-block">Save</button>
                </div>

            </form>

        </div>
        <!-- <div id="payments" class="tab-pane fade">
            <br>
            <div class="accordion" id="accordionExample">
                <div class="card">
                    <div class="card-header" id="headingOne">
                        <h2 class="mb-0">
                            <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne"
                                aria-expanded="true" aria-controls="collapseOne">
                                Withdraw fee
                            </button>
                        </h2>
                    </div>

                    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                        data-parent="#accordionExample">
                        <div class="card-body">


                            <div class="col card mt-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/mysql.png" width="150px" height="150px"
                                                class="rounded float-left" alt="">
                                        </div>
                                        <div class="col text-center pt-3">
                                            Course: <br>
                                            <b>MySQL</b> <br>
                                            <div class="progress text-dark">
                                                <div class="progress-bar bg-danger " role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100">&#x2714;
                                                </div>
                                                <div class="progress-bar bg-warning text-dark" role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100">&#x2714;</div>
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100">&#x2716;</div>
                                                <div class="progress-bar bg-success" role="progressbar"
                                                    style="width: 25%" aria-valuenow="25" aria-valuemin="0"
                                                    aria-valuemax="100">&#x2716;</div>
                                            </div>
                                            <span class="badge badge-success">2 slots(50%) completed</span> <br>
                                            <span class="badge badge-warning">Payment Pending</span>
                                        </div>
                                        <div class="col text-center pt-5">
                                            <button type="button" class="btn btn-primary">Withdraw
                                                payment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col card mt-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/bootstrap.png" width="150px" height="150px"
                                                class="rounded float-left" alt="">
                                        </div>
                                        <div class="col text-center pt-3">
                                            Course: <br>
                                            <b>Bootstrap</b> <br>

                                            <span class="badge badge-success">Completed on Aug 13,
                                                2019</span> <br>
                                            <span class="badge badge-warning">Payment Pending</span>
                                        </div>
                                        <div class="col text-center pt-5">
                                            <button type="button" class="btn btn-primary">Withdraw
                                                payment</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header" id="headingTwo">
                        <h2 class="mb-0">
                            <button class="btn btn-link collapsed" type="button" data-toggle="collapse"
                                data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                History
                            </button>
                        </h2>
                    </div>
                    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                            <div class="col card mt-2">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col">
                                            <img src="../../assets/html5.png" width="150px" height="150px"
                                                class="rounded float-left" alt="">
                                        </div>
                                        <div class="col text-center pt-3">
                                            Course: <br>
                                            <b>HTML5</b> <br>

                                            <span class="badge badge-success">Completed on Aug 5,
                                                2019</span><br>
                                            <span class="badge badge-success">Payment received on Aug 7,
                                                2019</span>
                                        </div>
                                        <div class="col text-center pt-5">
                                            <button type="button" class="btn btn-primary">Payment
                                                Details</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div> -->
    </div>
</div>