<div class="container pt-2">
    <div *ngIf="submitted" class="alert alert-success" role="alert">
        Account Created !! <a routerLink="../login">Login</a>
    </div>
    <div *ngIf="!submitted" class="card bg-light">

        <article class="card-body mx-auto" style="max-width: 500px;">
            <h4 class="card-title mt-3 text-center">Create Account</h4>
            <p class="text-center">Get started with your user account</p>
            <form [formGroup]="registrationForm" (ngSubmit)="addNew(registrationForm.value)">
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                    </div>
                    <input [class.is-invalid]="registrationForm.get('userName').invalid && registrationForm.get('userName').touched" formControlName="userName" class="form-control" placeholder="Full name" type="text">
                    <div class="input-group-append"
                        [class.d-none]="registrationForm.get('userName').valid || registrationForm.get('userName').untouched">
                        <span class="input-group-text text-danger" id=""><small>Name is required</small></span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
                    </div>
                    <input [class.is-invalid]="registrationForm.get('email').invalid && registrationForm.get('email').touched"
                        formControlName="email" class="form-control" placeholder="Email address" type="email">
                    <div class="input-group-append"
                        [class.d-none]="registrationForm.get('email').valid || registrationForm.get('email').untouched">
                        <span class="input-group-text text-danger" id=""><small>A valid e-mail is
                                required</small></span>
                    </div>
                </div>
                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-phone"></i> </span>
                    </div>

                    <input formControlName="phone" class="form-control" placeholder="Phone number" type="text">
                </div>

                <div class="form-group input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                    </div>
                    <input [class.is-invalid]="registrationForm.get('password').invalid && registrationForm.get('password').touched"
                        formControlName="password" class="form-control" placeholder="Create password" type="password">
                    <div class="input-group-append"
                        [class.d-none]="registrationForm.get('password').valid || registrationForm.get('password').untouched">
                        <span class="input-group-text text-danger" id=""><small>Password is required</small></span>
                    </div>
                </div>
                <input type="hidden" formControlName="role" class="form-control">
                <button [disabled]="!registrationForm.valid" type="submit" class="btn btn-primary btn-block"> Create Account </button>
                <!-- <div class="form-group">

                </div> -->
                <p class="text-center">Have an account? <a routerLink="../login">Login</a> </p>
            </form>

        </article>
        <!-- {{registrationForm.value | json}} -->
    </div>
</div>