<div *ngIf="LoggedInUser == 'guest'">
    <div class="bg-dark pt-2 pb-2">
        <div class="row mx-3">
        <!-- <div class="row"> -->
            <div class="col">
                <a class="navbar-brand px-5 text-white" routerLink="/home"><i class="fa fa-graduation-cap"></i> Mentor
                    On
                    Demand</a>
                <!-- <a class="navbar-brand text-white" routerLink="/home"><i class="fa fa-graduation-cap"></i> Mentor
                    On
                    Demand</a> -->
            </div>
            <div class="col mx-3 ">
            <!-- <div class="col"> -->
                <ul class="nav nav-pills justify-content-end text-white">
                    <li class="nav-item">
                        <a class="nav-link"
                            [ngClass]="{'active': currentUrl=='/home'||currentUrl=='/','text-white': currentUrl!='/home'}"
                            routerLink="/home">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link"
                            [ngClass]="{'active': currentUrl=='/login','text-white': currentUrl!='/login'}"
                            routerLink="/login">Login</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" role="button"
                            aria-haspopup="true" aria-expanded="false">Register</a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" routerLink="/signup-user">User</a>
                            <a class="dropdown-item" routerLink="/signup-mentor">Mentor</a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<div *ngIf="LoggedInUser == 'user'" class="bg-dark pt-2 pb-2">
    <div class="row mx-3">
        <div class="col">
            <a class="navbar-brand px-5 text-white" routerLink="{{currentUrl}}"><i class="fa fa-graduation-cap"></i>
                Mentor On
                Demand</a>
        </div>
        <div class="col mx-3 ">
            <ul class="nav nav-pills justify-content-end text-white">


                <li class="nav-item">
                    <a class="nav-link text-white">Notifications <span class="badge badge-light">0</span></a>
                </li>
                <li class="nav-item">
                    <button class="nav-link text-white btn btn-info" (click)="logout()">Logout</button>
                </li>
            </ul>
        </div>
    </div>
</div>